<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/estilos.css">
    <title>Document</title>
</head>
<body>
     <nav>
            <ul>
                <li>EcoMarket</li>
            </ul>                
            <div class="cont-boton">
                <a href="/index.html"><button class="boton-login">Salir</button></a>
                <a href=""><button class="btnCrearProducto">Crear Producto</button></a>
            </div>
    </nav>
    <section class="dashP1">
        <div>
            <img class="imgTienda" src="/assets/img/logo.webp" alt="">
        </div>
        <div class="cont-cajas">
            <div class="uno">
                <div class="caja">
                    <h2>Resumen de caja</h2>
                    <a href="resumenCaja.html"> <img class="cajita" src="/assets/img/caja.png" alt=""></a>
                   
                </div>
                <div class="caja">
                    <h2>Ventas</h2>
                    <img class="imgVentas" src="/assets/img/ventas.png" alt="">
                </div>
            </div>
            <div class="dos">
                <div class="caja">
                    <h2>Productos</h2>
                    <a href="productos.html"><img class="imgProductos" src="/assets/img/productos.png" alt=""></a>
                </div>
                <div class="caja">
                    <h2>Configuracion ia</h2>
                    <img class="imgIa" src="/assets/img/ia.png" alt="">

                </div>
            </div>
        </div>
    </section>

</body>
    <script type="module" src="/scripts/registro.js"></script>

</html>