<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/estilos.css">
</head>
<body>
     <nav>
            <ul>
                <li>EcoMarket</li>
            </ul>                
            <div class="cont-boton">
                <a href="/index.html"><button class="boton-login">Salir</button></a>
                <a href="crearProducto.html"><button class="btnCrearProducto">Crear Producto</button></a>
            </div>
    </nav>
    <section class="cont-productosGuardados">
        <div id="seccionProductos"></div>


    </section>


    
    <button class="botonIA">🤖</button>

   
    
</body>
    <script>
        const contenedor = document.getElementById("contenedor-producto");
        const productoHTML = localStorage.getItem("productoHTML");

        if (productoHTML) {
            contenedor.innerHTML = productoHTML;
        }
    </script>

    <script type="module" src="../scripts/inteligenciArtificial.js"></script>
    <script type="module" src="/scripts/crearProducto.js"></script>
</html>
