<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro EcoMarket</title>
    <link rel="stylesheet" href="/style/estilos.css">
</head>
<body>
    <section>
        <nav>
            <ul>
                <li class="titulod"><img src="../assets/img/zanahoriaaaaa.jpg" alt=""> Market</li>
            </ul>                
            <div class="cont-boton">
                <a href="/index.html"><button class="boton-login">Login</button></a>
               <a href="registro.html"> <button  class="boton-registro">Regitstrarse</button></a>
            </div>
        </nav>
        <div class="parte1">
            <div class="container-logo">
                    <img src="/assets/img/resgistro.png" alt="">
            </div>
            <div class="container">
                <h1>REGISTRO</h1>
                <div class="inputs">

                    <input type="text" id="Nombre" placeholder="Nombre">
                    <input type="text" id="Apellido" placeholder="Apellido">
                    <input type="text" id="nameInput" placeholder="Correo">
                    <input class="caja-pas" type="password" id="contraseña" placeholder="contraseña">
                </div>
            

                <div class="con-cuentabtn">
                    <button class="botonCuenta" id="botonCuenta">Crear cuenta</button>
                </div>

                <p id="message"></p>
                <p id="savedNameDisplay"></p>
            </div>
        </div>

    </section>

    <script type="module" src="/scripts/registro.js"></script>
    
</body>
</html>
