<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de caja</title>
    <link rel="stylesheet" href="../style/estilos.css">
</head>
<body>
    <nav>
        <ul>
            <li class="titulod"><a href="../templates/dashboard.html"><img src="../assets/img/zanahoriaaaaa.jpg" alt=""> Market</a></li>
        </ul>
        <div class="cont-boton">
            <a href="../index.html"><button class="boton-login">Salir</button></a>
        </div>
    </nav>

    <section class="cardResumen">
        <h2>Resumen de caja</h2>
    </section>
    
</body>
</html>
